/* MODERN CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ROOT SETTINGS */

:root {
  font-family: sans-serif;
  --pink: #f58e8a;
  --yellow: #f7cb4d;
  --blue: #6074b8;
  --bg: #fbe5d2;
  --black: #080709;
  --radius: 15px;
}

h1,
h2,
h3,
p,
a {
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: alfarn, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5rem;
}

p {
}

p,
a {
  font-family: new-spirit, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

img {
  border-radius: var(--radius);
}

/*SCROLLBAR*/

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  border: 0.2em solid var(--bg);
  border-radius: 100vw;
  background: var(--pink);
  /* background: linear-gradient(180deg, var(--pink) 0%, var(--yellow) 35%, var(--blue) 100%); */
}

body {
  background: var(--bg);
  margin: 1em 10em;
}

.backgroundContainer {
  position: relative;
}

#backgroundGradient {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 20px;
  margin-bottom: 5em;
}

.articleLeft {
  grid-column: 2 / span 3;
}

.articleRight {
  grid-column: 5 / span 3;
  text-align: right;
}

.imgLeft,
.imgRight {
  max-width: 90%;
}

.imgLeft > img,
.imgRight > img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  height: 100%;
  object-fit: cover;
}

.imgLeft {
  grid-column: 2 / span 3;
  justify-self: start;
}

.imgRight {
  grid-column: 5 / span 3;
  justify-self: end;
}

.card-blue,
.card-pink,
.card-yellow {
  padding: 2em;
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.card-blue {
  background: rgba(96, 116, 184, 0.2);
}

.card-pink {
  background: rgba(96, 116, 184, 0.2);
}

.card-yellow {
  background: rgba(96, 116, 184, 0.2);
}

#logoHeader {
  grid-column: 1 / 2;
  max-width: 60%;
  justify-self: left;
  align-self: center;
}

#mainNav {
  grid-column: 5 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  align-items: center;
  justify-items: center;
}

#mainNav a {
  padding: 0.2em 0.4em;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-family: alfarn, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#mainNav a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--yellow);
  transition: width 0.2s;
}

#mainNav a:hover:after {
  width: 100%;
  transition: width 0.2s;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  background: none;
  border: none;
  font-family: alfarn, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: left;
  font-family: new-spirit, serif !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

#introductionSection {
  height: 60vh;
  align-items: center;
}

#introductionText {
  margin-top: 5vh;
  grid-column: 2 / span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
}

#introductionSection h1 {
  line-height: 0.9;
  font-size: 4rem;
}

#introductionSection p {
  /* font-size: 1rem; */
}

#introductionText div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#introductionLeft {
  grid-column: 1 / span 3;
  text-align: right;
}

#introductionLeft h1 {
  margin-bottom: 0.2em;
}

#introductionRight {
  grid-column: 4 / span 3;
}

#introductionRight h1 {
  margin-top: 0.2em;
  margin-bottom: 0;
}

.buttonPrimary {
  border: 3px solid var(--black);
  border-radius: var(--radius);
  padding: 0.5em 1.5em;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s linear;
  transition: color 0.3s linear;
}

.buttonPrimary:hover {
  background: var(--black);
  color: var(--bg);
  transition: background 0.3s linear;
  transition: color 0.3s linear;
}

#ontdekMeerBtn {
  grid-column: 4 / span 2;
  align-self: end;
  justify-self: center;
}

.video-js {
  width: 800px;
  height: 450px;
  border-radius: var(--radius);
}

.vjs-custom-theme .vjs-control-bar {
  background-color: transparent !important;
}

.vjs-custom-theme .vjs-big-play-button {
  opacity: 0 !important;
}

.vjs-custom-theme .vjs-volume-control {
  align-items: center !important;
}

.vjs-custom-theme .vjs-play-progress {
  color: var(--yellow);
}

.vjs-custom-theme .vjs-play-progress:before {
  top: -4px !important;
}

.vjs-custom-theme .vjs-fullscreen-control .vjs-icon-placeholder:before {
  line-height: 30px;
}

.vjs-custom-theme button:hover {
  color: #fff;
}

.vjs-custom-theme .vjs-progress-control .vjs-progress-holder {
  margin: 0 10px;
  background: var(--yellow);
  height: 1px;
}

.vjs-custom-theme .vjs-progress-control:hover .vjs-play-progress:before {
  top: -7px !important;
}

.vjs-custom-theme .vjs-control-bar {
  height: 54px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  -o-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
}

.vjs-custom-theme .vjs-volume-panel {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  display: flex;
  align-items: center;
  color: var(--pink);
}

.vjs-custom-theme .vjs-fullscreen-control {
  color: var(--pink);
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 5;
  order: 5;
}

.vjs-custom-theme .vjs-picture-in-picture-control,
.vjs-custom-theme .vjs-remaining-time {
  display: none;
}

.vjs-custom-theme .vjs-play-control {
  width: 5em !important;
  color: var(--pink);
}

/* .vjs-custom-theme .vjs-play-control .vjs-icon-placeholder::before {
  font-size: 13px;
  letter-spacing: 0.16px;
  content: "Play" !important;
  font-family: sans-serif;
  line-height: 30px;
}

.vjs-custom-theme .vjs-play-control.vjs-playing .vjs-icon-placeholder::before {
  content: "Pause" !important;
  font-family: sans-serif;
} */

.pageContainer {
  padding-top: 2em;
}

#homeContainer {
  padding-top: 0;
}

#wieText {
  /* flex-direction: row;
  grid-column: 1 / span 4; */
}

#wieImg1 {
  object-fit: cover;
  grid-column: 6 / 9;
}

.page-hidden {
  display: none;
}

.page-visible {
  display: block;
}
